{% extends 'layout.html.twig' %}
{% import 'macros.html.twig' as macro %}

{% set article = yassg_find_one_by('articles', {condition: {'item.slug': slug}}) %}
{% set base_condition = app.environment == 'dev' ? null : 'item.draft == false' %}

{% block body %}
    <section class="section-sm">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    {% if article.image %}
                        <div class="position-relative">
                            <img src="{{ yassg_thumbnail(article.image, {self: article, width: 855, height: 250}) }}" alt="{{ article.title }}" class="img-fluid mb-5 w-100 rounded-4" />
                            {{ macro.categories(article.categories) }}
                        </div>
                    {% else %}
                        {{ macro.categories_badges(article.categories) }}
                    {% endif %}
                    <h1 class="h3 mb-4">{{ article.title }}</h1>
                    <ul class="list-inline card-meta d-flex align-items-center mb-4">
                        <li class="list-inline-item d-flex align-items-center">
                            <i class="fas fa-user me-2"></i>
                            <a href="{{ url('about') }}">dkarlovi</a>
                        </li>
                        <li class="list-inline-item d-flex align-items-center">
                            <i class="fas fa-calendar me-2"></i>
                            {{ macro.date(article.publishedAt) }}
                        </li>
                    </ul>
                    {% if article.series %}
                        <div class="alert alert-info mx-2">
                            <i class="fas fa-info-circle me-2"></i>
                            <strong>This article is part of a series:</strong>
                            <ul class="list-unstyled mt-2">
                                {% for series in article.series %}
                                    <li>
                                        <a href="{{ url('series', {slug: series.slug}) }}" class="h6">{{ series.title }}</a>
                                        {% if series.body %}
                                            <p>{{ series.summary }}</p>
                                        {% endif %}
                                        {% set condition = base_condition ~ (base_condition ? ' and ' : null) ~ '\''~ series.slug ~'\' in item.series.column("slug")' %}
                                        {% set siblings = yassg_find_all('articles', {condition, sort: {'item.publishedAt': 'asc'}}) %}
                                        <ol class="mx-3">
                                        {% for sibling in siblings %}
                                            <li class="mb-0">
                                                {% if sibling.slug == article.slug %}
                                                    <span>{{ sibling.title }}</span>
                                                {% else %}
                                                    <a href="{{ url('article', {slug: sibling.slug}) }}">{{ sibling.title }}</a>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                        </ol>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <div class="content drop-cap">
                        {{ article.body|raw }}
                    </div>

                    {#
                    <div class="border rounded p-4">
                        { { template "_internal/disqus.html" . }}
                    </div>
                    #}
                </div>

                <aside class="col-lg-4">
                    {{ macro.widget_categories(base_condition) }}
                </aside>
            </div>
        </div>
    </section>
{% endblock %}
