{% extends 'layout.html.twig' %}
{% import 'macros.html.twig' as macro %}

{% set article = yassg_find_one_by('articles', {condition: {'item.slug': slug}}) %}

{% block body %}
    <section class="section-sm">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    {% if article.image %}
                        <div class="position-relative">
                            <img src="{{ yassg_thumbnail(article.image, {self: article, width: 855, height: 250}) }}" alt="{{ article.title }}" class="img-fluid mb-5 w-100 rounded-4" />
                            {{ macro.categories(article.categories) }}
                        </div>
                    {% else %}
                        {{ macro.categories_badges(article.categories) }}
                    {% endif %}
                    <h1 class="h3 mb-4">{{ article.title }}</h1>
                    <ul class="list-inline card-meta d-flex align-items-center mb-4">
                        <li class="list-inline-item d-flex align-items-center">
                            <i class="fas fa-user me-2"></i>
                            <a href="{{ url('about') }}">dkarlovi</a>
                        </li>
                        <li class="list-inline-item d-flex align-items-center">
                            <i class="fas fa-calendar me-2"></i>
                            {{ macro.date(article.publishedAt) }}
                        </li>
                    </ul>
                    <div class="content drop-cap">
                        {{ article.body|raw }}
                    </div>

                    {#
                    <div class="border rounded p-4">
                        { { template "_internal/disqus.html" . }}
                    </div>
                    #}
                </div>

                <aside class="col-lg-4">
                    {{ macro.widget_categories() }}
                </aside>
            </div>
        </div>
    </section>
{% endblock %}
