{% extends 'layout.html.twig' %}
{% import 'macros.html.twig' as macro %}

{% set page = yassg_find_one_by('pages', {condition: {'item.route': route}}) %}
{% set condition = app.environment == 'dev' ? null : 'item.draft == false' %}
{% set baseline_condition = condition %}
{% if route == 'article_collection' %}
    {% set parameters = {} %}
    {% set breadcrumbs = [page] %}
{% else %}
    {% set parameters = {slug} %}
    {% set collection = yassg_find_one_by(type, {condition: {'item.slug': slug}}) %}
    {% set condition = condition ~ (condition ? ' and ' : null) ~ '\'' ~ collection.slug ~ '\' in item.' ~ type ~ '.column("slug")' %}
    {% set breadcrumbs = [collection, page] %}
{% endif %}

{% set items = yassg_paginate('articles', index, {condition, sort: {'item.publishedAt': 'desc'}}) %}
{% set pages = yassg_pages('articles', condition) %}

{% block body %}
    <section class="mt-4">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        {% if collection is defined %}
                        <div>{{ page.title }}</div>
                        <h2 class="h4">
                            Articles in <span class="title-border">{{ collection.title }}</span>
                        </h2>
                        {{ collection.body|raw }}
                        {% else %}
                        <h2 class="h4">
                            {{ page.title }}
                        </h2>
                        {{ page.body|raw }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    {% if items|length > 0 %}
                    <div class="border mb-5 pt-4 rounded">
                        <div class="row mx-0 g-5">
                            {% for item in items %}
                            <div class="col-sm-6 mb-4">
                                {{ macro.card(item) }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    {{ macro.pagination(pages, index, {name: _route, parameters}) }}
                    {% else %}
                        <div class="alert alert-warning">
                            No articles found here.
                        </div>
                    {% endif %}
                </div>

                <aside class="col-lg-4">
                    {{ macro.widget_categories(baseline_condition) }}
                </aside>
            </div>
        </div>
    </section>
{% endblock %}
