{% set home = yassg_get('pages', '/home.md') %}{% set main_menu = yassg_get('menus', 'main') %}{% import 'macros.html.twig' as macro %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block head %}
        {% if breadcrumbs is defined %}
            {{ macro.head(breadcrumbs) }}
        {% elseif page is defined %}
            {{ macro.head([page]) }}
        {% else %}
            <title>{{ home.title }}</title>
        {% endif %}
    {% endblock %}

    {{ encore_entry_link_tags('app') }}

    <meta name="google-site-verification" content="soyKXJT1zDtOEO_En0NAjPTu58_HXX5stvmF5MnVrEA" />

    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/images/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/images/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('assets/images/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ asset('assets/images/safari-pinned-tab.svg') }}" color="#5bbad5">
    <link rel="shortcut icon" href="{{ asset('assets/images/favicon.ico') }}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{{ asset('assets/images/browserconfig.xml') }}">
    <meta name="theme-color" content="#ffffff">
</head>
<body>

<div class="site-wrapper d-flex flex-column min-vh-100">
<header class="header bg-white border-bottom position-relative pt-1 pb-1">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-light p-0">
                    <a class="navbar-brand" href="{{ url('home') }}">
                        {{ macro.logo() }}
                    </a>
                    <div class="d-flex d-lg-none">
                        <ul class="list-unstyled search me-3">
                            {#
                            <li class="list-inline-item">
                                <a href="#" class="toggle-search" data-target="#search-wrap"><i class="fas fa-search"></i></a>
                            </li>
                            #}
                            <li class="list-inline-item">
                                <a href="#" class="toggle-side-nav" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="fas fa-bars"></i></a>
                            </li>
                        </ul>
                    </div>

                    <div class="collapse navbar-collapse" id="navbarScroll">
                        <ul class="navbar-nav ms-auto my-4 my-lg-0 me-3">{{ macro.menu(main_menu, _route) }}</ul>

                        <!-- social -->
                        {{ macro.socials() }}

                        {#
                        <ul class="list-unstyled search d-none d-lg-block">
                            <li class="list-inline-item">
                                <button class="toggle-search" data-target="#search-wrap"><i class="fas fa-search"></i>
                                </button>
                            </li>
                        </ul>
                        #}
                    </div>
                </nav>

                {#
                <div class="search-wrap" id="search-wrap">
                    <form action="#" class="search-bar d-flex align-items-center justify-content-center">
                        <input class="search-input w-100 border-0 h-100" id="search-query" name="s" type="search" placeholder="Search..."/>
                        <span class="close-search toggle-search" data-target="#search-wrap"><i class="fas fa-times"></i></span>
                    </form>
                </div>
                #}

                <!-- mobile menu -->
                <div class="side-nav offcanvas offcanvas-end p-4" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"><i class="fas fa-times"></i></button>
                    <div class="navbar mt-3 flex-column align-items-start">
                        <ul class="navbar-nav my-4 my-lg-0 me-3 w-100">{{ macro.menu(main_menu, _route) }}</ul>
                        {{ macro.socials() }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<main>
{% block body %}{% endblock %}
</main>

<footer class="footer" style="background-image: url('{{ asset('assets/images/footer-bg-shape.svg') }}');">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 text-center">
                <a class="footer-brand mb-4 d-block" href="{{ url('home') }}">
                    {{ macro.logo(120) }}
                </a>
                <p class="text-light mb-4">
                    <code>
                        // TODO 2012-03-14: put smart quote here
                    </code>
                </p>
                <ul class="list-unstyled mb-5 footer-menu">
                    {% for item in main_menu.items %}
                        {% if item.link %}
                            <li class="list-inline-item">
                                <a href="{{ item.link.url }}">{{ item.title ?? item.link.title }}</a>
                            </li>
                        {% elseif item.page %}
                            <li class="list-inline-item">
                                <a href="{{ url(item.page.route) }}">{{ item.title ?? item.page.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                {{ macro.socials() }}
                <p>&copy; {{ home.title }} | Theme by <a target="_blank" rel="noopener noreferrer" href="https://statichunt.com/" class="text-muted text-decoration-underline">statichunt</a>
                </p>
            </div>
        </div>
    </div>
</footer>
</div>

{{ encore_entry_script_tags('app') }}

<script
    type="text/plain"
    data-category="analytics"
    data-src="https://www.googletagmanager.com/gtag/js?id=G-ZYF0F5VGJR" async>
</script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-ZYF0F5VGJR');
</script>
</body>
</html>
