{% set home = yassg_get('pages', '/home.md') %}{% set main_menu = yassg_get('menus', 'main') %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}dkarlovi.github.io{% endblock %}</title>

    {{ encore_entry_link_tags('app') }}
</head>
<body>

<header class="header bg-white border-bottom position-relative pt-1 pb-1">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-light p-0">
                    <a class="navbar-brand" href="{{ url('home') }}">
                        <img src="{{ asset('assets/images/logo.png') }}" alt="logo" width="140">
                    </a>
                    <div class="d-flex d-lg-none">
                        <ul class="list-unstyled search me-3">
                            <li class="list-inline-item">
                                <a href="#" class="toggle-search" data-target="#search-wrap"><i class="fas fa-search"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="toggle-side-nav" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="fas fa-bars"></i></a>
                            </li>
                        </ul>
                    </div>

                    <div class="collapse navbar-collapse" id="navbarScroll">
                        <ul class="navbar-nav ms-auto my-4 my-lg-0 me-3">
                            {% for item in main_menu.items %}
                                {% if item.items %}
                                    {# item is active if it itself or any of the children is active #}
                                    {% set active = (_route == item.page.route) %}{% for child_item in item.items %}{% if _route == child_item.page.route %}{% set active = true %}{% endif %}{% endfor %}
                                    <li class="nav-item dropdown{% if active %} active{% endif %}">
                                        <a class="nav-link dropdown-toggle" href="{{ url(item.page.route) }}" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ item.title ?? item.page.title }}</a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                            {% for child_item in item.items %}
                                                <li><a class="dropdown-item{% if _route == child_item.page.route%} active{% endif %}" href="{{ url(child_item.page.route) }}">{{ child_item.title ?? child_item.page.title }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% else %}
                                    <li class="nav-item{% if _route == item.page.route %} active{% endif %}">
                                        <a class="nav-link" href="{{ url(item.page.route) }}">{{ item.title ?? item.page.title }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>

                        <!-- social -->
                        <ul class="list-unstyled social-icons">
                            {% for link in yassg_find_all('socials') %}
                                <li class="list-inline-item">
                                    <a href="{{ link.url }}" title="{{ link.title }}"><i class="{{ link.icon }}"></i></a>
                                </li>
                            {% endfor %}
                        </ul>

                        <ul class="list-unstyled search d-none d-lg-block">
                            <li class="list-inline-item">
                                <button class="toggle-search" data-target="#search-wrap"><i class="fas fa-search"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                </nav>

                <div class="search-wrap" id="search-wrap">
                    <form action="#" class="search-bar d-flex align-items-center justify-content-center">
                        <input class="search-input w-100 border-0 h-100" id="search-query" name="s" type="search" placeholder="Search..."/>
                        <span class="close-search toggle-search" data-target="#search-wrap"><i class="fas fa-times"></i></span>
                    </form>
                </div>

                <!-- mobile menu -->
                <div class="side-nav offcanvas offcanvas-end p-4" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"><i class="fas fa-times"></i></button>
                    <div class="navbar mt-3 flex-column align-items-start">
                        <ul class="navbar-nav my-4 my-lg-0 me-3 w-100">
                            {% for item in main_menu.items %}
                                {% if item.items %}
                                    {# item is active if it itself or any of the children is active #}
                                    {% set active = (_route == item.page.route) %}{% for child_item in item.items %}{% if _route == child_item.page.route %}{% set active = true %}{% endif %}{% endfor %}
                                    <li class="nav-item dropdown{% if active %} active{% endif %}">
                                        <a class="nav-link dropdown-toggle" href="{{ url(item.page.route) }}" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ item.title ?? item.page.title }}</a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                            {% for child_item in item.items %}
                                                <li><a class="dropdown-item{% if _route == child_item.page.route%} active{% endif %}" href="{{ url(child_item.page.route) }}">{{ child_item.title ?? child_item.page.title }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% else %}
                                    <li class="nav-item{% if _route == item.page.route %} active{% endif %}">
                                        <a class="nav-link" href="{{ url(item.page.route) }}">{{ item.title ?? item.page.title }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                        </ul>
                        <ul class="list-unstyled social-icons">
                            {% for link in yassg_find_all('socials') %}
                                <li class="list-inline-item">
                                    <a href="{{ link.url }}" title="{{ link.title }}"><i class="{{ link.icon }}"></i></a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

{% block body %}{% endblock %}

<footer class="footer" style="background-image: url('{{ asset('assets/images/footer-bg-shape.svg') }}');">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 text-center">
                <a class="footer-brand mb-4 d-block" href="{{ url('home') }}">
                    <img src="{{ asset('assets/images/logo.png') }}" alt="logo" width="150">
                </a>
                <p class="text-light mb-4">
                    <code>
                        // TODO 2012-03-14: put smart quote here
                    </code>
                </p>
                <ul class="list-unstyled mb-5 footer-menu">
                    {% for item in main_menu.items %}
                        {% if item.link %}
                            <li class="list-inline-item">
                                <a href="{{ item.link.url }}">{{ item.title ?? item.link.title }}</a>
                            </li>
                        {% elseif item.page %}
                            <li class="list-inline-item">
                                <a href="{{ url(item.page.route) }}">{{ item.title ?? item.page.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <ul class="list-unstyled social-icons">
                    {% for link in yassg_find_all('socials') %}
                        <li class="list-inline-item">
                            <a href="{{ link.url }}" title="{{ link.title }}"><i class="{{ link.icon }}"></i></a>
                        </li>
                    {% endfor %}
                </ul>
                <p>&copy; {{ home.title }} | Theme by <a target="_blank" rel="noopener noreferrer" href="https://statichunt.com/" class="text-muted text-decoration-underline">statichunt</a>
                </p>
            </div>
        </div>
    </div>
</footer>

{{ encore_entry_script_tags('app') }}
</body>
</html>
